@page "/Account/ConfirmEmail"

@using System.Text
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using ProjectKard.Data

@inject UserManager<ProjectKardUser> UserManager
@inject IdentityRedirectManager RedirectManager

<div class = "d-flex justify-content-center align-items-center vh-100">
    <div class="container">
        <PageTitle>Confirm email</PageTitle>

        <h1>Welcome to CardPark Family!</h1>
        <div class="w-50 positioning ">
        <StatusMessage Message="@statusMessage" />
        </div>
        <button onclick="location.href='Account/Login';" class="w-25 btn btn-lg btn-primary">Go Login</button>
    </div>
</div>

@code {
    private string? statusMessage;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? UserId { get; set; }

    [SupplyParameterFromQuery]
    private string? Code { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (UserId is null || Code is null)
        {
            RedirectManager.RedirectTo("");
        }

        var user = await UserManager.FindByIdAsync(UserId);
        if (user is null)
        {
            HttpContext.Response.StatusCode = StatusCodes.Status404NotFound;
            statusMessage = $"Error loading user with ID {UserId}";
        }
        else
        {
            var code = Encoding.UTF8.GetString(WebEncoders.Base64UrlDecode(Code));
            var result = await UserManager.ConfirmEmailAsync(user, code);
            statusMessage = result.Succeeded ? "Thank you for confirming your email." : "Error confirming your email.";
        }
    }
}
