@page "/"

<PageTitle>Home</PageTitle>

<div class="banner">
	<div class="slider" style="--quantity: 6">
		<div class="item" style="--position: 1"><img src="ImageSpinner/hololive_1.png" alt=""></div>
		<div class="item" style="--position: 2"><img src="ImageSpinner/pokemon_1.png" alt=""></div>
		<div class="item" style="--position: 3"><img src="ImageSpinner/vanguard_1.png" alt=""></div>
		<div class="item" style="--position: 4"><img src="ImageSpinner/hololive_2.png" alt=""></div>
		<div class="item" style="--position: 5"><img src="ImageSpinner/pokemon_2.png" alt=""></div>
		<div class="item" style="--position: 6"><img src="ImageSpinner/vanguard_2.png" alt=""></div>

	</div>

	<div class="content">
		<h1>
			CARD PARK
		</h1>
	</div>

</div>

<div class="Most_Recent">
    <h1> Most Recent</h1>
    <div class="card-group">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
</div>