@page "/deliveries/edit"
@using Microsoft.EntityFrameworkCore
@using ProjectKard.Domain
@inject IDbContextFactory<ProjectKard.Data.ProjectKardContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Delivery</h2>
<hr />
@if (Delivery is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Delivery" OnValidSubmit="UpdateDelivery" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Delivery.Id" value="@Delivery.Id" />
                <div class="mb-3">
                    <label for="addressfrom" class="form-label">AddressFrom:</label>
                    <InputText id="addressfrom" @bind-Value="Delivery.AddressFrom" class="form-control" />
                    <ValidationMessage For="() => Delivery.AddressFrom" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="addressto" class="form-label">AddressTo:</label>
                    <InputText id="addressto" @bind-Value="Delivery.AddressTo" class="form-control" />
                    <ValidationMessage For="() => Delivery.AddressTo" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="deliveryfee" class="form-label">DeliveryFee:</label>
                    <InputNumber id="deliveryfee" @bind-Value="Delivery.DeliveryFee" class="form-control" />
                    <ValidationMessage For="() => Delivery.DeliveryFee" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="buyerid" class="form-label">BuyerId:</label>
                    <InputText id="buyerid" @bind-Value="Delivery.BuyerId" class="form-control" />
                    <ValidationMessage For="() => Delivery.BuyerId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="datecreated" class="form-label">DateCreated:</label>
                    <InputDate id="datecreated" @bind-Value="Delivery.DateCreated" class="form-control" />
                    <ValidationMessage For="() => Delivery.DateCreated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="dateupdated" class="form-label">DateUpdated:</label>
                    <InputDate id="dateupdated" @bind-Value="Delivery.DateUpdated" class="form-control" />
                    <ValidationMessage For="() => Delivery.DateUpdated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="createdby" class="form-label">CreatedBy:</label>
                    <InputText id="createdby" @bind-Value="Delivery.CreatedBy" class="form-control" />
                    <ValidationMessage For="() => Delivery.CreatedBy" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="updatedby" class="form-label">UpdatedBy:</label>
                    <InputText id="updatedby" @bind-Value="Delivery.UpdatedBy" class="form-control" />
                    <ValidationMessage For="() => Delivery.UpdatedBy" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/deliveries">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Delivery? Delivery { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Delivery ??= await context.Delivery.FirstOrDefaultAsync(m => m.Id == Id);

        if (Delivery is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateDelivery()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Delivery!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!DeliveryExists(Delivery!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/deliveries");
    }

    private bool DeliveryExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Delivery.Any(e => e.Id == id);
    }
}
